<!DOCTYPE html>
<html>

<head>
    <title>Markdown-Editor</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/lib/codemirror-5.26.0/codemirror.css">
</head>

<body class="full-height">
    <section class="row">
        <div class="col-md-6 full-height" id="source"></div>
        <div class="col-md-6 full-height" id="preview"></div>
    </section>
    <script src="../assets/lib/marked/marked.min.js"></script>
    <script src="../assets/lib/codemirror-5.26.0/codemirror.js"></script>
    <script src="../assets/lib/codemirror-5.26.0/markdown.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>